@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anton&display=swap');

/*font-family: "anton" for heading & font-family: "alata" for paragraph.*/

*{
  margin: 0px;
  padding: 0px;
}
body{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/*logo design opening*/
.logo{
  width: 160px;
  font-family: anton;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}
.logo span{
  color: #ed2a58;
}
/*logo design closing*/
/*web social icons design opening*/
.webSocialicons{
  float: left;
  margin-left: 5px;
  margin-top: 20px;
}
.webSocialicons ul{
  list-style: none;
}
.webSocialicons .iconList li{
  margin-bottom: 2px;
}
.webSocialicons .iconList li i{
  color: #fff;
  font-size: 23px;
  padding: 15px 18px;
  border-radius: 3px;
  transition: all 0.5s ease;
  cursor: pointer;
}
#facebook{
  background: #3b5998;
}
#facebook:hover{
  background: #fff;
  color: #2b2b2b;
  padding-left: 50px;
}
#twitter{
  background: #00acee;
  padding: 15px 14px;
}
#twitter:hover{
  background: #fff;
  color: #2b2b2b;
    padding-left: 50px;
}
#linkedin{
   background: #0e76a8;
  padding: 15px 15px;
}
#linkedin:hover{
  background: #fff;
  color: #2b2b2b;
    padding-left: 50px;
}
#instagram{
    background: #ff5200;
  padding: 15px 15px;
}
#instagram:hover{
  background: #fff;
  color: #2b2b2b;
    padding-left: 50px;
}
#googlePlus{
   background: #db4a39;
  padding: 15px 11px;
}
#googlePlus:hover{
  background: #fff;
  color: #2b2b2b;
    padding-left: 50px;
}
#github{
     background: #2b2b2b;
    padding: 15px 14px;
}
#github:hover{
  background: #fff;
  color: #2b2b2b;
    padding-left: 50px;
}
/*web social icons design closing*/
/*search box design opening*/
.searchBOx2{
  background: #fff;
  width: 250px;
  padding: 6px 10px;
  border-radius: 15px;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.searchBOx2 input{
  padding: 3px;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  padding-left: 10px;
}
.searchBOx2 a{
  margin-left: 3px;
  color: #ed2a58;
  cursor: pointer;
  font-size: 15px;
}
/*search box design closing*/

/*info man design opening*/
.infomanimg{
  width: 400px;
  height: 100vh;
  margin-left: 50px;
  margin-top: 25px;
  overflow: hidden;
  padding: 0px;
  border-radius: 10px;
  float: left;
}
.infomanimg img{
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
/*info man design closing*/


/*info content design opening*/
.infoContent{
  width: 400px;
  border-radius: 1px solid white;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  overflow: hidden;
  top: 80px;
  left: 540px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  position: absolute;
}
.infoContent h1{
  font-size: 35px;
  text-transform: uppercase;
  font-family: anton;
  font-weight: 400;
  letter-spacing: 1px;
}
.infoContent p{
  font-family: alata;
  font-size: 18px;
  text-align: justify;
}
/*info content design closing*/